body{
    background-color: #ED6978;
    font-family: Poppins;
}

body{
    margin: 0;
    padding: 0;
}

#Title1{
    color: black;
    font-family: Poppins;
}

#title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mbox{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
}

.box{
    background-color: #2c0910;
    border-radius: 8px;
    height:calc()
}